﻿@model IEnumerable<TPNote_GuevaraPonce.Models.Produit>

@{
    ViewBag.Title = "Voici tous les produits en ordre aphabétique!";
}

<h2>Alpha</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LePrix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LePrix)
        </td>
    </tr>
}

</table>
