﻿@model TPNote_GuevaraPonce.Models.Produit
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<form>
    <select id="commande" name="commande">
        <option value="alpha">Voir la liste de produit en ordre alphabétique</option>
        <option value="query">Afficher les produits d'un type</option>
        <option value="decr">Afficher les produits par prix décroissant</option>
        <option value="search">Rechercher un produit par nom</option>
    </select>
    <p>Si avez choisir d'afficher les produits par un type choisi ou rechercher un produit en particulier, veuillez le noter ici</p>
    <input type="text" name="query" />

    <input type="submit" />
</form>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Produit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LeNom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeNom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeNom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LePrix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LePrix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LePrix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="commande" id="commande" class="btn btn-default" />
            </div>
        </div>
    </div>
}
