﻿@model TPNote_GuevaraPonce.Models.Produit

@{
    ViewBag.Title = "Rechercher un article";
}

<h2>Search</h2>

@if(Model== null)
{
    <p>Article non trouver</p>
}

<div>
    <h4>Produit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LePrix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LePrix)
        </dd>

    </dl>
</div>
